.homeImg {
  width: 1000px;
  padding: 20px;
  justify-content: center;
}
/* .planListContainer {
  gap: 20px; 
  display: flex;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0 30px 10px;
  border-bottom: 1px solid #e7e7e7;
  
  justify-content: center;
} */
.text {
  /* 일정 공유해요 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 100%;
  /* or 32px */
  padding: 20px;
  padding-left: 55px;
  padding-bottom: 30px;

  color: #000000;
}

.planListContainer {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 20px;
  gap: 20px;
  box-sizing: border-box;
  cursor: grab;
}

.planListContainer:active {
  cursor: grabbing;
}

.planListContainer::-webkit-scrollbar {
  display: none;
}
/* 여행 관련 Grid + Card 부분은 TripGrid.module.css를
공통으로 사용하도록 수정함 */