
.text {
    /* 일정 공유해요 */

    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    /* or 32px */
    padding: 20px;
    /* padding-left: 55px; */
    padding-bottom: 30px;

    color: #000000;
}

/* 여행 관련 Grid + Card 부분은 TripGrid.module.css를
공통으로 사용하도록 수정함 */