.container {
  position: relative;
  width: 100%;
  height: 500px;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.searchList {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  width: 250px;
  margin: 10px 0 30px 10px;
  padding: 10px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  font-size: 12px;
  border-radius: 10px;
}

.searchForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.searchInput {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.searchButton {
  background-color: #009688;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.searchIcon {
  color: white;
  font-size: 20px;
}

.hr {
  width: 100%;
  border: none;
  border-top: 1px solid #d5d5d5;
  margin: 10px 0 0;
}

.contentItem {
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 1px solid #d5d5d5;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}

.item {
  position: relative;
  border-bottom: 1px solid #d5d5d5;
  overflow: hidden;
  cursor: pointer;
  height: 50px;
  padding: 10px;
}

.itemName {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
}

.itemAddress {
  display: block;
  font-size: 13px;
  color: #8a8a8a;
  margin-top: 2px;
}

.selectedPlace {
  margin-top: 10px;
}

.itemLink {
  display: block;
  margin-top: 5px;
  color: #0066cc;
  text-decoration: none;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 10px auto 0;
}

.btnConfirm,
.btnCancel {
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btnConfirm {
  background-color: #4caf50;
  color: white;
}

.btnCancel {
  background-color: #f44336;
  color: white;
}
