/* 전체 채팅창 스타일 */
.chatContainer {
    position: relative;
    width: 734px;
    height: 1285px;
    background: #FFFFFF;
}

/* 상단 헤더 스타일 */
.chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 150, 136, 0.5);
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
}

/* 드롭다운 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownToggle {
    cursor: pointer;
}

.dropdownMenu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownMenu div {
    color: #000000; /* 채팅방 목록의 글씨 색상을 검정으로 설정 */
    padding: 10px;
    cursor: pointer;
    font-size: 14px; /* 폰트 크기 줄이기 */
}

.dropdownMenu div:hover {
    background-color: rgba(0, 154, 221, 0.5); /* 항목을 선택할 때 배경색 변경 */
    color: #FFFFFF; /* 선택 시 글씨 색상을 흰색으로 변경 */
}

.dropdown:hover .dropdownMenu,
.dropdownToggle:focus + .dropdownMenu {
    display: block;
}

/* 채팅방 리스트 스타일 */
.chatRoomList {
    margin-top: 20px;
    display: none; /* 기본적으로 숨김 */
}

.chatRoomList ul {
    list-style: none;
    padding: 0;
}

.chatRoomList ul li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(0, 154, 221, 0.5);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
}

/* 채팅 내용 스타일 */
.chatRoomDetail {
    position: relative;
    margin-top: 20px;
    background-color: #E5E5E5;
    border-radius: 10px;
    padding: 20px;
}

/* 상대방 메시지 (청록색 버블) */
.messages .message.received {
    align-self: flex-start;
    background: rgba(0, 150, 136, 0.5);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    max-width: 60%;
    word-wrap: break-word;
}

/* 본인 메시지 (하늘색 버블) */
.messages .message.sent {
    align-self: flex-end;
    background: rgba(0, 154, 221, 0.5);
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    color: #FFFFFF;
    max-width: 60%;
    word-wrap: break-word;
}

/* 채팅 입력 박스 스타일 */
.chattingContainer {
    display: flex;
    align-items: center;
    padding: 1px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    width: calc(100% - 100px);
    margin: 5px auto;
    box-sizing: border-box;
    height: 24px;
}

.chattingContainer input[type="text"] {
    flex: 1;
    padding: 1px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: transparent;
    text-align: left;
    color: #757575;
}

.chattingContainer button {
    width: 24px;
    height: 24px;
    background: #009ADD;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
}

.chattingContainer button img {
    width: 12px;
    height: 12px;
}
