.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px 10px;
  border-bottom: 1px solid #e7e7e7;
}
.header > h1 {
  margin: 0;
  margin-right: 60px;
  cursor: pointer;
}
.header > p {
  font-size: 14px;
  margin: 0 20px;
  cursor: pointer;
}
.header > input {
  width: 160px;
  font-size: 14px;
  padding: 8px 8px;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  margin: 0 100px 0 auto;
}
.header > button {
  padding: 4px 12px;
  font-size: 14px;
  color: white;
  background-color: #009688;
  border: 1px solid #d5d5d5;
  border-radius: 6px;
  cursor: pointer;
}
