.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff;
}

.container {
  width: 400px;
  background: #ffffff;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  padding: 30px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: #009688;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.label {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #757575;
  margin-bottom: 5px;
}

.input {
  padding: 8px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  font-size: 16px;
  line-height: 100%;
  color: #000000;
  outline: none;
}

.input:focus {
  border-bottom: 2px solid #009688;
}

.error {
  font-size: 12px;
  line-height: 140%;
  color: #ff0000;
  margin-top: 5px;
}

.submitButton {
  padding: 12px;
  background: #009688;
  border: 1px solid #ffffff;
  border-radius: 8px;
  color: #f5f5f5;
  font-size: 16px;
  line-height: 100%;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.submitButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
