.authPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.authPage > h1 {
  position: absolute;
  color: #fefefe;
  margin-top: 15px;
  margin-left: 42px;
  margin-bottom: 0;
  cursor: pointer;
  z-index: 2;
}
.authContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px 0;
}
.mainPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 15px 0;
  margin: 0 auto;
  box-sizing: border-box;
  /* border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7; */
  background-color: rgb(247, 247, 247);
}
.mainContent {
  max-width: 1300px;
  padding: 60px 10px 10px 10px;
  margin: 0 auto;
  width: 100%;
  flex: 1;
}

.homeImgWrapper {
  background-image: url("../../../image/test3.png");
  background-size: cover;
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.overlayTextWrapper {
  color: white;
  text-align: center;
  padding: 20vh 0;
}

.overlayText {
  font-size: 80px;
  font-weight: bold;
}

.overlayDescription {
  font-size: 30px;
  margin-top: 10px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 12px; /* This sets the gap between the buttons */
  margin-top: 20px;
}

.mainButton {
  padding: 13px 20px;
  background-color: #157c24;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mainButton:hover {
  background-color: #0e5819;
  transform: scale(1.05);
}
